@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --swiper-navigation-size: 20px;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

:root {
  --swiper-navigation-size: 20px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  box-sizing: border-box;
  @apply bg-backgroundlanding text-white;
  scroll-behavior: smooth;
}

.shape-boxp {
  display: inline-block;
  position: relative;
  z-index: 1;
  max-width: 60rem;
  height: 60vh;
  margin: 30px 10px 30px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}

.shape-boxp_half {
  overflow: hidden;
  text-align: left;
  border: 1px solid #828282;
}

.shape-boxp_half:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skewY(53.5deg);
  transform-origin: top left;
  transition: \transform0.8s;
  background: #0d1720;
  z-index: 1;
}

.shape-boxp > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.bg-black {
  background-color: #000;
}

.shape-boxp_half figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px 30px;
  transition: \transform0.8s;
  transform: translateY(100%);
  z-index: 3;
}

.shape-boxp_half figcaption .show-cont {
  position: absolute;
  bottom: calc(100% + 30px);
  left: 30px;
  right: 30px;
  transition: bottom 0.8s;
}

.card-no {
  font-size: 36px;
  color: white;
  padding: 0;
  margin: 10px 0;
}

.card-main-title {
  margin-top: 8px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
}

.card-content-p {
  color: white;
  margin-top: 20px;
  line-height: 22px;
  font-size: 13px;
}

/* .read-more-btn {
  border: 2px solid #db3236;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #db3236;
  color: #fff;
  border-radius: 2px;
  margin-top: 25px;
  text-decoration: none;
} */
/* 
.read-more-btn:hover {
  background: transparent;
  color: #db3236;
} */

.shape-boxp_half > .after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1a3d86;
  opacity: 0;
  transition: opacity 0.8s;
}

/*On hover*/
.shape-boxp_half:hover:before {
  transform: skewY(20deg);
}

.shape-boxp_half:hover figcaption {
  transform: translateY(0);
}

.shape-boxp_half:hover figcaption .show-cont {
  bottom: 100%;
}

.shape-boxp_half:hover > .after {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background: #008cd7;
  border-radius: 50%;
  font-size: 10px !important;
  width: 40px !important;
}
.swiper-container {
  margin-top: 50px;
  position: relative;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
}

::ng-deep .swiper-button-prev:after,
::ng-deep .swiper-button-next:after {
  --swiper-navigation-size: 15px;
}
