.textheader {
  /* border-right: 5px solid;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  animation: trytype 5s infinite, cursor 0.4s step-end infinite alternate; */
}

@keyframes trytype {
  from {
    width: 0%;
  }
}

@media (min-width: 1024px) {
  .textheader {
    border-right: 5px solid;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    animation: trytype 5s infinite, cursor 0.4s step-end infinite alternate;
  }
}
